h1, p {
  margin: 0;
  padding: 0;
 }

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    display: flex;
    top: 64px;
    right: 0;
    z-index: 0;
}

.logo_place_header {
    width: 183px;
    height: 32px;
    display: flex;
    position: absolute;
    left: 64px;
    top: 30px;
}

.header__title {
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    width: 730px;
    padding-left: 64px;
    display: flex;
    align-self: center;
}

.title__h1 {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 2;
}

.header__subtitle {
    width: 388px;
    display: flex;
    position: absolute;
    left: 65px;
    bottom: 30px;
    z-index: 2;
}

.header__subtitle-text {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__subtitle_link {
    color: #2f80ed;
}

.header__main-illustration {
    display: flex;
}


/*.header__header-image {
    width: 765px;
    height: 608px;
}*/

.header-image {
    width: 785px;
    height: 608px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/*.content {}*/

.two-columns {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.two-columns__brief {
    width: 175px;
}

.brief__heading {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns__p {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.span-accent {
    padding-top: 30px;
    padding-bottom: 30px;
}

.two-columns__span-accent {
    font-weight: bold;
}

.digits {
    padding-bottom: 100px;
}

.digits__section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 20px;
}

.section-title__heading {
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.digits__section-subtitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.section-subtitle__heading {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.digits__table {
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 100px;
}

.table__cell {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
    padding-top: 60px;
}

.table__heading_p {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text_p {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding-top: 20px;
}

.feynman {
    position: relative;
    height: 790px;
    background-color: #f2f2f2;
    background-image: url(/images/feynman.png);
    background-size: 867px 637px;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.feynman__title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 648px;
    margin: auto;
}

.title__text {
    text-align: center;
    line-height: 115px;
    font-size: 120px;
    font-weight: bold;
}

.feynman__subtitle {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.subtitle__text {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    padding-top: 70px;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
}

.link__a {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

/* и элемента с модификатором вида ключ-значение */

.kaufman {
    overflow: hidden;
    background-color: #1f1f1f;
    background-image: url(/images/kaufman-triangle.svg);
    background-size: 877px;
    background-position:  top 0 right -210px;
    background-repeat: no-repeat;
}

.section-title__theme_dark {
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 90px;

}
.section-title__heading_theme_dark {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.section-subtitle__theme_dark {
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}

.section-subtitle__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.table__theme_dark {
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.table__text_theme_dark {
    color: white;
    padding-top: 20px;
}

.table__cell_theme_dark {
    width: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 80px;
}

.table__heading_num_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

.table__text_task_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.footer {
    background-color: #1f1f1f;
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer__columns {
    min-height: 350px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 711px;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__columns_copyright {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column__content_info {
    display: flex;
    flex-direction: column;
}

.column__content_social {
    display: flex;
    flex-direction: column;
}

.autor_name {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.column-heading__text {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;   
}

.footer__column-link_text {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
}